body {
    font-family: Arial, sans-serif;
    background-image: url('../fondoportafolio.avif');
    background-size: cover;
}


.button_slide {
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  .slide_left:hover {
    box-shadow: inset 0 0 0 50px #D80286;
  }



main {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -21px;
    margin-bottom: -16px;
    padding-top: 50px;
    padding-left:150px ;
    padding-right: 150px;
    background-color: #333c;
}
h1,h2 {
    color: #aaccff;
    text-transform: uppercase;
}

.InfPersonal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.infoProyectos {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    
}
#CamNomb{
    width: auto;
}
.contacto{
    background-color: darkgrey;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color:white;
}

td {
    border: 1px solid #ddd;
    text-align: left;
    margin: auto;
}
#camEnlace{
    text-align: center;
    width: auto;
}
th {
    background-color: #666;
    color: white;
}
#btnGatos{
    text-align: center;
    
    
}
#enlaces{
    border-radius: 15px;
    width: -10px;
    height: -10px;
    
}