<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--
 -->
<body>

  <main>
      <div>
          <h1>Portafolio</h1>
      </div>
      <h2 id="nombre">Carlos Armando Ramirez Salas</h2>
      <div class="">
        
        <div class="InfPersonal">
            <h2 id="algo">Acerca de mi:</h2>
            <p>Soy un apasionado desarrollador full stack, con conociminetos de C#, Angular, creacion y consumo de API's y usos de base de datos
              relacionales y no relacionales; estoy interesado en seguir aprendiendo mas conestas herramientas o aprender otras mas populares o utilizadas en las empresas. Vivo en Cd. Obregón pero estoy dispuesto a viajar a otros lugares, soy responsable, buen trabajador en equipo y 
            estoy dispuesto a mejorar, tanto laboral como personalmente.</p>
        </div>
        <div class="tecnologias">
          <h2>Tecnologías:</h2>
          <ul>
            <li>Angular - Una biblioteca de JavaScript para construir interf </li><img src="https://i.ibb.co/3Bm1MmY/angular-Logo.png" alt="Logo de Angular">
            <li>MongoDB - Un entorno de ejecución para JavaScript en el servidor <img src="https://i.ibb.co/zH3P2wQ/Mongo-DBLogo.png" alt="Logo de MongoDB">.</li>
            <li>Xamarin - Una plataforma para desarrollar, enviar y ejecutar aplicaciones en contenedores.<img src="https://i.ibb.co/VDwnrj5/Xamarin-Logo.png"  alt="Logo de Xamarin"></li>
            <li>SQL - Un conjunto de servicios de computación en la nube que forman una plataforma en la nube ofrecida por Amazon.<img src="https://i.ibb.co/dDtj2qS/SQLlogo2.png" alt="SQL Logo"></li>
            <li>Git - Un sistema de control de versiones distribuido para rastrear cambios en el código fuente durante el desarrollo de software.<img src="https://i.ibb.co/rH5ghs9/Github-Logo.png" alt="Github Logo"></li>
          </ul>
        </div>      
      </div>
      <br>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Enlaces</th>
            </tr>
          </thead>
          <tbody>
            @for(item of proyectos; track item.id){
              <tr>
                <td>{{item.nombre}}</td>
                <td>{{item.descripcion}}</td>
                <td><a href="{{item.enlace}}" target="_blank">Enlaces</a></td>
              </tr>
            }
            <!-- Repite las filas según sea necesario -->
          </tbody>
        </table>
      </div>
      <br>
      <section>
        <div class="Apiperros">
          <h2 id="algo">API De Gatos</h2>
          <p>Esta API de gatos te muestra una imagen de gatos cada que entras a la pagina o la recarges</p>

          <div class="center-div">
            <img class="datacat" [src]="imageUrl" width="250" height="250"/>
          </div>
        </div>
      </section>
      <section class="">
        
      </section>
      
      <div class="contacto">
        <div id="contraste">
          <h2>Contacto</h2>
          <p>Correo: carlosramirezsalas400gmail.com</p>
          <p>Numero: 6441-18-79-06</p>
          <p>Git: <a href="https://github.com/CarlosArmando037">https://github.com/CarlosArmando037</a> </p>
        </div>
      </div>
  </main>
</body>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
