body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkgray;
}
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
h1,h2 {
    color: red;
    text-transform: uppercase;
}

.InfPersonal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.infoProyectos {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    
}
th {
    background-color: #666;
    color: white;

}
#btnGatos{
    text-align: center;
    
    
}
#enlaces{
    border-radius: 15px;
    
}