<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--
 -->
 <body>
  <main>
      <div>
          <h1>Portafolio</h1>
      </div>
      
      <div class="InfPersonal">
          <h2 id="algo">Acerca de mi:</h2>
          <p>Mi nombre es Carlos Armando Ramirez Salas, soy un apasionado desarrollador full stack, con conociminetos de C#, Angular, creacion y consumo de API's, usos de base de datos,
            relacionales y no relacionales </p>
      </div>
      <br>
      <div class="infoProyectos">
          <h2 id="proyectTitle">Proyectos realizados</h2>
          <table>
            <thead>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Enlaces</th>
            </thead>
            <tbody>
              @for(item of proyectos; track item.id){
                <tr class="eltr">
                  <td class="CamNomb">{{item.nombre}}</td>
                  <td>{{item.descripcion}}</td>
                  <td>
                    <button id="enlaces" ><a href="{{item.enlace}}" target="_blank">ENLACES</a></button>
                  </td>
                </tr>
              } 
            </tbody>
          </table>
      </div>
      <br>
      <section>
        <div class="InfPersonal">
          <h2 id="algo">API De Gatos</h2>
          <p>esta API de gatos te muestra una imagen diferente de gatos cada vez que haces click en el boton.</p>

          <img class="data" width="50"/>
          
          <button id="btnGatos">imagen de gato aqui!!</button>
        </div>
      </section>
      <div class="contacto">
          <h2>Contacto</h2>
          <p>Correo: carlosramirezsalas400gmail.com</p>
          <p>Numero: 6441-18-79-05</p>
          <p>Git: <a href="https://github.com/CarlosArmando037">https://github.com/CarlosArmando037</a> </p>
      </div>
  </main>
</body>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
